
<header>

	<a href="#main-content" id="skip-navigation">Skip Navigation</a>

	<a href="/"><img src="/images/logo.svg" style="height: 4em;"></img></a>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</header>