
<header>

	<a href="#main-content" id="skip-navigation">Skip Navigation</a>

	<div id="header-content">

		<a href="/"><img src="/images/logo.svg" style="height: 4em;"></img></a>

		<span id="navigation">

			<%- include(`${partialsDir}/navigation`) %>
		</span>
	</div>

	<button id="navigation-hamburger" class="icon"><img src="/images/icons/hamburger.svg" style="height: 4em;"></img></button>

	<script defer src="/scripts/partials/header.js"></script>
</header>

<div id="navigation-hamburger-list">

	<%- include(`${partialsDir}/navigation`) %>
</div>