
<!DOCTYPE html>
<html lang="en">

<head>

	<%- include(`${partialsDir}/meta`) %>
	<link href="/styles/home/main.css" rel="stylesheet" type="text/css">

	<title>f2reninj5</title>
</head>

<body>

	<img id="logo" src="/images/gold-f2reninj5-logo.svg">

	<div id="b">
	
		<img id="background" src="/images/gold-arc-background.svg">

		<footer>

			<span class="footer-navigation-list">
			
				<a href="/">Home</a>
				<a href="/projects">Projects</a>
				<a href="/blog">Blog</a>
				<a href="/contact">Contact</a>
				<a href="/about">About</a>
				<a href="/pirate">Pirate Game</a>
			</span>
		</footer>
	</div>
	

	<div id="main-content"></div>

	<script defer src="/scripts/home/main.js"></script>
</body>

</html>
