<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>

		<title>f2reninj5</title>
		<icon src="images/logo.svg"></icon>
	</head>

	<body>
		
		<%- include(`${partialsDir}/header`) %>

		<div id="main-content" class="container">

			<a href="https://github.com/f2reninj5/f2reninj5.xyz">https://github.com/f2reninj5/f2reninj5.xyz</a><br><br>

			<iframe src="https://editor.p5js.org/FN/full/bayxGPQYi"></iframe>

			<h1 style="font-size: 100px;">GET OUT</h1>
			<p><%= 'GET OUT '.repeat(1000) %></p>
		</div>

		<script defer src="scripts/home.js"></script>
	</body>
</html>