<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>

		<title>f2reninj5</title>
	</head>

	<body>

		<img id="background" src="/images/background.svg">

		<img id="logo" src="/images/name_logo.svg">

		<style>

			#background {

				position: absolute;
				width: 100%;
				top: 2em;
				z-index: -1;
			}

			#logo {
				
				display: block;
				width: 40%
			}

			@media only screen and (orientation: landscape) {

				#logo {
	
					float: right;
					margin: 40vmin 10em auto auto;
				}
			}

			@media screen and (orientation: portrait) {

				#logo {
					
					margin: 10em auto auto auto;
				}
			}

			::-webkit-scrollbar {

				width: 1em;
				
				background-color: #212121;
			}

			::-webkit-scrollbar-thumb {

				background-color: #ffb70d;
			}
		</style>

		<script defer src="/scripts/home.js"></script>
	</body>
</html>