<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>

		<title>f2reninj5</title>
	</head>

	<body>

		<div id="b">
	
			<img id="background" src="/images/background.svg">
	
			<footer>
	
				<span class="footer-navigation-list">
				
				    <a href="/">Home</a>
				    <a href="/projects">Projects</a>
				    <a href="/blog">Blog</a>
				    <a href="/contact">Contact</a>
				    <a href="/about">About</a>
				    <a href="/pirate">Pirate Game</a>
				</span>
			</footer>
		</div>
		
		<img id="logo" src="/images/name_logo.svg">
		
		<style>

			.footer-navigation-list {

				display: flex;
				justify-content: center;

				vertical-align: middle;
			}
			
			a {

				margin: auto 1em auto 1em;

				color: #ffb70d;
			}

			footer {

				display: inline-grid;
				grid-auto-flow: column;
				grid-auto-rows: 1fr;

				background-color: #212121;
				
				position: relative;

				padding: 0;

				width: 100%;
				height: 16em;

				bottom: 0;

				border: solid #ffb70d;
				border-width: 1vmin 0 0 0;

				text-align: center;
			}

			#b {

				position: absolute;
				width: 100%;
				z-index: -1;
			}
			
			#background {

				position: relative;
				
				width: 100%;
				top: 2em;
			}

			#logo {
				
				display: block;
				width: 40%
			}

			@media only screen and (orientation: landscape) {

				#logo {
	
					float: right;
					margin: 40vmin 10em auto auto;
				}

				.footer-navigation-list {

					flex-direction: row;
				}
			}

			@media screen and (orientation: portrait) {

				#logo {
					
					margin: 10em auto auto auto;
				}

				.footer-navigation-list {

					flex-direction: column;
				}
			}

			::-webkit-scrollbar {

				width: 1em;
				
				background-color: #212121;
			}

			::-webkit-scrollbar-thumb {

				background-color: #ffb70d;
			}
		</style>

		<script defer src="/scripts/home.js"></script>
	</body>
</html>