<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/meta') %>

		<title>Projects | f2reninj5</title>
	</head>

	<body>

		<%- include('partials/header') %>

		<div id="main-content" class="row-container">

			<div class="post-preview">

				<h1>Alan</h1>
				<a href="https://alan.f2reninj5.xyz">https://alan.f2reninj5.xyz</a><br><br>
				<a href="https://github.com/f2reninj5/alan">https://github.com/f2reninj5/alan</a>
			</div>

			<div class="post-preview">

				<h1>f2reninj5.xyz</h1>
				<a href="https://github.com/f2reninj5/f2reninj5.xyz">https://github.com/f2reninj5/f2reninj5.xyz</a>
			</div>

			<div class="post-preview">

				<h1>Oggbot</h1>
				<a href="https://github.com/f2reninj5/oggbot">https://github.com/f2reninj5/oggbot</a>
			</div>
		</div>
	</body>
</html>