@font-face {

    font-family: "Ubuntu Mono";
    src: url("/fonts/Ubuntu_Mono/Regular.ttf");
}

@font-face {

    font-family: "Ubuntu Mono";
    src: url("/fonts/Ubuntu_Mono/Bold.ttf");
    font-weight: bold;
}

@font-face {

    font-family: "Ubuntu Mono";
    src: url("/fonts/Ubuntu_Mono/Italic.ttf");
    font-style: italic;
}

@font-face {

    font-family: "Ubuntu Mono";
    src: url("/fonts/Ubuntu_Mono/BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

* {

	font-family: Ubuntu Mono;
}

*::selection {

	color: white;
	background-color: firebrick;
}

body {

	margin: 0;

	background-color: whitesmoke;
}

header, footer {

	background-color: salmon;
	padding: 1vw;
}

header *, footer * {

	display: inline-block;
	vertical-align: middle;
}

button:hover {

	cursor: pointer;
}

.icon {

	background-color: transparent;

	border-style: none;
}

/* header */

#skip-navigation {

	padding: 0.5em;

	color: white;
	background-color: indianred;

	border-radius: 0.1em;

	position: absolute;
	transform: translateY(-120%);
	filter: opacity(0%);
	transition: 500ms;
}

#skip-navigation:focus {

	transform: translateY(0);
	filter: opacity(100%);
}

#header-content {

	white-space: nowrap;
}

#navigation-hamburger {

	float: right;
}

#navigation-hamburger-list {

	max-height: 0;
	
	overflow: hidden;

	transition: 0.2s;
}

/* navigation bar */

li a {

	display: block;
	
	padding: 1em;
	
	color: white;
	background-color: indianred;
	
	text-decoration: none;
	text-align: center;
	
	border-radius: 0.1em;
}

/*  */

header ul {

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	column-gap: 1em;

	margin: 0;

	list-style-type: none;
}

header li a:hover {

	background-color: white;
	color: indianred;
}

/* navigation hamburger list */

#navigation-hamburger-list ul {

	margin: 0;
	padding: 0;

	list-style-type: none;
}

#navigation-hamburger-list li {

	width: 100%;
}

#navigation-hamburger-list li a {

	border-radius: 0;
}

#navigation-hamburger-list li a:hover {

	background-color: white;
	color: indianred;
}

/* containers */

.container, .row-container {

	margin: 4em 4vw 4em 4vw;
	padding: 1em;

	background-color: white;
	color: black;

	border-color: gainsboro;
	border-style: solid;
	border-radius: 1em;

	overflow-wrap: break-word;
}

.row-container {

	display: grid;
	grid-auto-rows: 1fr;
	row-gap: 1em;
}

/* blog */

.post-preview{

	padding: 1em;

	background-color: white;
	color: black;

	border-color: salmon;
	border-style: solid;
	border-radius: 0.5em;
}

.post-preview * {

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post-preview .title {

	font-size: 2em;
	text-decoration: none;
	color: black;
}

.post-preview .title:visited {

	color: indianred;
}

.post-preview .title:hover {

	color: salmon;
}

.post-preview .brief, .post-preview .details {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2em;
}

.post-preview .brief .titles {

	display: grid;
}

.post-preview .brief .tags {

	display: grid;
	flex: 1;
}