<html lang="en">
	<head>
		<%- include(`${partialsDir}/meta`) %>

		<title>Blog | f2reninj5</title>
	</head>

	<body>

		<%- include(`${partialsDir}/header`) %>

		<button>HELLO</button>

		<%- include(`${partialsDir}/jquery`) %>
		<script defer src="scripts/blog/main.js"></script>
	</body>
</html>