<html lang="en">

	<head>
		
		<%- include(`${partialsDir}/meta`) %>

		<title>Blog | f2reninj5</title>
	</head>

	<body>

		<%- include(`${partialsDir}/header`) %>

		<div id="main-content" class="row-container"></div>

		<script defer src="scripts/blog/main.js"></script>
	</body>
</html>